@import url('font.css');

body {
    background-color: #1f1f1f;
    color: #ffffff;
}

a {
    color: #e686ef;
    text-decoration: inherit;
}

#content {
    font-family: 'Noto Sans';
    font-size: 13.5pt;
}

#signup {
    text-align: center;
    width: 50%;
    border-radius: 25px;
    border-color: #fff;
    background-color: #222222;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#box {
    text-align: center;
    width: 50%;
    border-radius: 25px;
    border-color: #fff;
    background-color: #0f0f0f;
    margin: auto;
    padding: 10px;
    text-align: center;
}

input {
    font-family: 'Noto Sans';
    font-size: 13.5pt;
    background-color: #fef;
}

#topbar {
    top: auto;
}

#left {
    left: 50%;
}

#header {
    margin: auto;
    width: 50em;
    padding: 10px;
    text-align: center;
}

#games {
    text-align: justify;
}

.heading {
    font-size: 18pt;
}

.mediaape {
    color: #e686ef;
    font-size: 36pt;
}

.disclaimer {
    font-size: 8pt;
}